@import url(Parisine.css);
@import url(game.css);

:root {
    --red: #f02233;
    --blue: #0070b8;
    --gray: #8d939e;
    --black: #0f172a;
    --near-black: #465569;
    --green: #78b159;
}

.blue {
    color: var(--blue);
}
.red {
    color: var(--red);
}
html {
    height: 100%;
    width: min(100vw, 500px);
    margin: auto auto;
    background-color: var(--black);
}
body {
    padding-inline: 10px;
    font-family: Parisine, Arial, Helvetica, sans-serif;
    height: 100%;
    color: white;
    text-align: center;
    margin: auto auto;
    box-sizing: border-box;
    overflow: hidden;
}

nav ul {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style: none;
    list-style-position: outside;
    height: fit-content;
}

hr {
    color: white;
}

.lang {
    font-size: 30px;
}
.lang:hover {
    cursor: pointer;
}

/* MODAL (thanks w3schools)*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    box-sizing: border-box;
    line-height: 1.5em;
    text-align: justify;
    background-color: var(--black);
    border: 3px solid var(--gray);
    margin: 0 auto; /* 5% from the top and centered */
    padding: 20px;
    width: min(100vw, 500px);
}
h1, h2, h3 {
    text-align: center;
}
/* The Close Button */
.close {
    color: var(--gray);
    float: right;
    margin-left: 1rem;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
}

.bigbutton {
    padding: 0.25rem 1.2rem;
    background: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}
.bigbutton.close {
    float: none;
    width: 100%;
    margin: 0;
    font-size: larger;
    border-color: var(--blue);
}
.bigbutton:hover {
    background-color: var(--near-black);
    color: initial;
}

a {
    color: white;
    text-decoration: underline;
}

#blague img {
    width: min(100vw, 500px)
}

textarea {
    width: 100%;
}